<tr>
  <td><%= event.id %></td>
  <td><%= event.created_at %></td>
  <td><%= event.cid %></td>
  <td><%= event.pid %></td>
  <td><%= event.action %></td>
  <td><%= event.fingerprint %></td>
  <td><%= event.remote_ip %></td>
  <td><%= event.query_string %></td>
  <td><%= event.request_method %></td>
  <td><%= event.request_path %></td>
  <td><%= event.request_uri %></td>
  <td><%= event.http_user_agent %></td>
  <td><%= event.http_dnt %></td>
  <td><%= event.http_referer %></td>
  <td><%= event.http_accept %></td>
  <td><%= event.http_accept_encoding %></td>
  <td><%= event.http_accept_language %></td>
  <td><%= event.params %></td>
</tr>
