<ol class="breadcrumb">
  <li class="active"><%= t('.title') %></li>
</ol>
<div class="alt-table-responsive">
  <table
    data-toggle="table"
    data-search="true"
    data-show-columns="true"
    data-mobile-responsive="true"
    data-show-export="true"
    data-export-types="['csv', 'json', 'xml']"
    data-export-options='{"fileName":"events"}'
    data-classes="table table-no-bordered table-hover"
    data-url="<%= url_for(admin_events_path(format:'json')) %>"
    data-search-text="<%= params[:search] %>"
    data-side-pagination="server"
    data-pagination="true"
    data-show-refresh="true"
    data-sort-order="desc"
    data-page-size="100"
    data-page-list="[100,1000,10000]">
    <thead>
      <tr>
        <th data-field="id" data-sortable="true" data-visible="false"><%= t(".id") %></th>
        <th data-field="created_at" data-sortable="true"><%= t(".created_at") %></th>
        <th data-field="cid" data-sortable="true"><%= t(".cid") %></th>
        <th data-field="pid" data-sortable="true"><%= t(".pid") %></th>
        <th data-field="action" data-sortable="true" data-formatter="action_formatter"><%= t(".action") %></th>
      </tr>
    </thead>
  </table>
</div>
