<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><%= t(".title") %></li>
  </ol>
</nav>
<%= component_notice %>
<div class="row mb-4">
  <div clsss="col-auto me-auto">
    <%= link_to(icon_download(text:t(".download_csv")), admin_events_path(search: params[:search], format: :csv), class: "btn btn-info") %>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-hover table-sm table-bordered">
    <thead>
      <tr class="align-top text-nowrap">
        <th><%= t(".id") %></th>
        <th><%= t(".created_at") %></th>
        <th><%= t(".cid") %></th>
        <th><%= t(".pid") %></th>
        <th><%= t(".action") %></th>
        <th><%= t(".fingerprint") %></th>
        <th><%= t(".remote_ip") %></th>
        <th><%= t(".query_string") %></th>
        <th><%= t(".request_method") %></th>
        <th><%= t(".request_path") %></th>
        <th><%= t(".request_uri") %></th>
        <th><%= t(".http_user_agent") %></th>
        <th><%= t(".http_dnt") %></th>
        <th><%= t(".http_referer") %></th>
        <th><%= t(".http_accept") %></th>
        <th><%= t(".http_accept_encoding") %></th>
        <th><%= t(".http_accept_language") %></th>
        <th><%= t(".params") %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @events %>
    </tbody>
  </table>
</div>
