<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag(:fishing) %>
  </head>
  <body>
    <div class="container my-2" style="max-width: 540px;">
      <h2>Login</h2>
      <p>Welcome. Please enter your personal information in the fields below.</p>
      <%= form_tag do |f| %>
        <%= hidden_field_tag(:cid, params[:cid]) %>
        <%= hidden_field_tag(:pid, params[:pid]) %>
        <div class="row">
          <%= label_tag(:name, "User Name", class: "col-xs-2 col-form-label") %>
          <div class="col-xs-10">
            <%= text_field_tag("", "", id: "name", class: "form-control") %>
          </div>
        </div>
        <div class="row">
          <%= label_tag(:password, "User Password", class: "col-xs-2 col-form-label") %>
          <div class="col-xs-10">
            <%= password_field_tag("", "", id: "password", class: "form-control") %>
          </div>
          <div class="mt-4 d-grid col-xs-12 mx-auto">
            <%= submit_tag("Login", class: "btn btn-primary") %>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>
