<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><%= icon_campaigns(text:t(".title")) %></li>
  </ol>
</nav>
<div class="alt-table-responsive">
  <div id="toolbar">
    <div class="form-inline" role="form">
      <%= link_to(icon_action_new(text:t(".new_campaign")), new_admin_campaign_path, class: "btn btn-primary") %>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th><%= t(".id") %></th>
        <th><%= t(".cid") %></th>
        <th><%= t(".events_count") %></th>
        <th><%= t(".people_count") %></th>
        <th><%= t(".created_at") %></th>
        <th><%= t(".updated_at") %></th>
        <th><%= t(".note") %></th>
      </tr>
    </thead>
    <tbody>
      <% @campaigns.each do |campaign| %>
        <tr>
          <td><%= campaign.id %></td>
          <td><%= link_to campaign.cid, admin_campaign_path(campaign) %></td>
          <td>
            <%= link_to admin_events_path(search: "cid:#{campaign.cid}") do %>
              <span><%= Event.where(cid: campaign.cid).count %></span>
            <% end %>
          </td>
          <td>
            <!--
          <%= link_to admin_people_path(search:"cid:#{campaign.cid}") do %>
            <span><%= Event.where(cid:campaign.cid).distinct.count(:pid) %></span>
          <% end %>
          -->
            <span><%= Event.where(cid:campaign.cid).distinct.count(:pid) %></span>
          </td>
          <td><%= campaign.created_at %></td>
          <td><%= campaign.updated_at %></td>
          <td><%= campaign.note %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
