<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><%= t(".title") %></li>
  </ol>
</nav>
<div class="form-inline mb-3" role="form">
  <%= link_to(icon_action_new(text:t(".new_campaign")), new_admin_campaign_path, class: "btn btn-primary") %>
</div>
<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead>
      <tr class="align-top">
        <th scope="col" class="text-nowrap"><%= t(".id") %></th>
        <th scope="col" class="text-nowrap"><%= t(".cid") %></th>
        <th scope="col" class="text-nowrap"><%= t(".events_count") %></th>
        <th scope="col" class="text-nowrap"><%= t(".people_count") %></th>
        <th scope="col" class="text-nowrap"><%= t(".created_at") %></th>
        <th scope="col" class="text-nowrap"><%= t(".updated_at") %></th>
        <th scope="col" class="text-nowrap"><%= t(".note") %></th>
      </tr>
    </thead>
    <tbody>
      <% @campaigns.each do |campaign| %>
        <tr>
          <td><%= campaign.id %></td>
          <td><%= link_to campaign.cid, admin_campaign_path(campaign) %></td>
          <td>
            <%= link_to admin_events_path(search: "cid:#{campaign.cid}") do %>
              <span><%= Event.where(cid: campaign.cid).count %></span>
            <% end %>
          </td>
          <td>
            <!--
          <%= link_to admin_people_path(search:"cid:#{campaign.cid}") do %>
            <span><%= Event.where(cid:campaign.cid).distinct.count(:pid) %></span>
          <% end %>
          -->
            <span><%= Event.where(cid:campaign.cid).distinct.count(:pid) %></span>
          </td>
          <td><%= campaign.created_at %></td>
          <td><%= campaign.updated_at %></td>
          <td><%= campaign.note %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
