<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to(t(".title"), admin_campaigns_path) %>
    </li>
    <li class="breadcrumb-item active">
      <%= @campaign.cid %>
    </li>
  </ol>
</nav>
<%= component_notice %>
<div class="row mb-4">
  <div class="col-auto me-auto">
    <%= link_to(icon_action_edit(text: t(".edit")), edit_admin_campaign_path(@campaign), class: "btn btn-primary") %>
  </div>
  <div class="col-auto ms-auto">
    <%= link_to(icon_action_destroy(text: t(".destroy")), admin_campaign_path(@campaign),  class: "btn btn-danger", method: :delete, data: { turbo_confirm: "Are you sure?", turbo_method: "delete" }) %>
  </div>
</div>
<div class="row">
  <label class="col-xs-2 col-form-label fw-bold"><%= t(".cid") %></label>
  <div class="col-xs-10">
    <p class="form-control-plaintext"><%= @campaign.cid %></p>
  </div>
</div>
<div class="row">
  <label class="col-xs-2 col-form-label fw-bold"><%= t(".events") %></label>
  <div class="col-xs-10">
    <p class="form-control-plaintext">
      <%= link_to admin_events_path(search: "cid: #{@campaign.cid}") do %>
        <span><%= Event.where(cid: @campaign.cid).count %></span>
      <% end %>
    </p>
  </div>
</div>
<div class="row">
  <label class="col-xs-2 col-form-label fw-bold"><%= t(".people") %></label>
  <div class="col-xs-10">
    <p class="form-control-plaintext"><%= Event.where(cid: @campaign.cid).distinct.count(:pid) %></p>
  </div>
</div>
<div class="row">
  <label class="col-xs-2 col-form-label fw-bold"><%= t(".url_template") %></label>
  <div class="col-xs-10">
    <p class="form-control-plaintext"><%= request.base_url + "/" + @campaign.cid + '/#{pid}' %></p>
  </div>
</div>
<div class="row">
  <label class="col-xs-2 col-form-label fw-bold"><%= t(".note") %></label>
  <div class="col-xs-10">
    <pre class="form-control-plaintext"><code><%= @campaign.note %></code></pre>
  </div>
</div>
<div class="row">
  <label class="col-xs-2 col-form-label fw-bold"><%= t(".form_template") %></label>
  <div class="col-xs-10">
    <pre class="form-control-plaintext"><code><%= @campaign.form_template %></code></pre>
  </div>
</div>
<div class="row">
  <label class="col-xs-2 col-form-label fw-bold"><%= t(".result_template") %></label>
  <div class="col-xs-10">
    <pre class="form-control-plaintext"><%= @campaign.result_template %></pre>
  </div>
</div>
<div class="row">
  <label class="col-xs-2 col-form-label fw-bold"><%= t(".updated_at") %></label>
  <div class="col-xs-10">
    <p class="form-control-plaintext"><%= @campaign.updated_at.in_time_zone %></p>
  </div>
</div>
<div class="row">
  <label class="col-xs-2 col-form-label fw-bold"><%= t(".created_at") %></label>
  <div class="col-xs-10">
    <p class="form-control-plaintext"><%= @campaign.created_at.in_time_zone %></p>
  </div>
</div>
<div class="row">
  <label class="col-xs-2 col-form-label fw-bold"><%= t(".sample_image_url") %></label>
  <div class="col-xs-10">
    <p class="form-control-plaintext"><%= link_to_image(cid: @campaign.cid, pid: "sample") %></p>
  </div>
</div>
<div class="row">
  <label class="col-xs-2 col-form-label fw-bold"><%= t(".sample_form_url") %></label>
  <div class="col-xs-10">
    <p class="form-control-plaintext"><%= link_to_form(cid: @campaign.cid, pid: "sample") %></p>
  </div>
</div>
<div class="row">
  <label class="col-xs-2 col-form-label fw-bold"><%= t(".sample_result_url") %></label>
  <div class="col-xs-10">
    <p class="form-control-plaintext"><%= link_to_result(cid: @campaign.cid, pid: "sample") %></p>
  </div>
</div>
