<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'fishing' %>
  </head>
  <body>
    <h1>Login</h1>
    <%= form_tag do |f| %>
    <%= hidden_field_tag :fid, params[:fid] %>
    <%= hidden_field_tag :pid, params[:pid] %>
    <%= hidden_field_tag :fingerprint, params[:fingerprint] %>
    <%= label_tag :name, 'User Name' %>
    <%= text_field_tag :name, '', id:'name' %>
    <br>
    <%= label_tag :password, 'User Password' %>
    <%= password_field_tag '', '', id:'password' %>
    <br>
    <%= submit_tag 'Login' %>
    <% end %>
  </body>
</html>
