<div class="container">
  <ol class="breadcrumb">
    <li class="active"><%= t('.people') %></li>
  </ol>
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>CID</th>
      </tr>
    </thead>
    <tbody>
      <% Event.where.not(cid:nil).uniq.pluck(:cid).each do |cid| %>
      <tr>
        <td><%= cid %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>PID</th>
      </tr>
    </thead>
    <tbody>
      <% Event.where.not(pid:nil).uniq.pluck(:pid).each do |pid| %>
      <tr>
        <td><%= pid %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Remote IP</th>
      </tr>
    </thead>
    <tbody>
      <% Event.where.not(remote_ip:nil).uniq.pluck(:remote_ip).each do |remote_ip| %>
      <tr>
        <td><%= remote_ip %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Fingerprint</th>
      </tr>
    </thead>
    <tbody>
      <% Event.where.not(fingerprint:nil).uniq.pluck(:fingerprint).each do |fingerprint| %>
      <tr>
        <td><%= fingerprint %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
